.expand-enter {
  transition: all 330ms ease;
}

.expand-enter-active {
  transition: all 330ms ease;
}

.expand-enter-done {
  opacity: 1;
}

.expand-exit {
  transition: all 330ms ease;
}

.expand-exit-active {
  overflow: hidden;
  transition: all 330ms ease;
}

.expand-exit-done {
  overflow: hidden;
}
